.header {
    margin-bottom: 2%;
}

.navButtonContainer {
    margin: -2% 0 2% 0 !important;
    min-height: 50px !important;
    width: 100% !important;
    text-align: center;
}

#homeNavButton:hover {
    cursor: pointer;
}

.backButton {
    background: url('../images/chevron-left.svg') no-repeat;
    background-size: 50%;
    min-height: 50px;
    vertical-align: middle;
}

.forwardButton {
    background: url('../images/chevron-right.svg') no-repeat;
    background-size: 50%;
    min-height: 50px;
    vertical-align: middle;
    margin-left: 35%;
}

.calcForwardButton {
    background-size: 50%;
    background-color: transparent;
    min-height: 50px;
    vertical-align: middle;
    margin-left: 35%;
}

.yellow {
    background-color: #fff062;
    border-color: #fff062;
}

.yellow:hover {
    background-color: #fff062;
    border-color: #fff062;
}

.backDiv {
    width: 20%;
    float: left;
    clear: none;
    padding-top: 5%;
}

.forwardDiv {
    width: 20%;
    float: right;
    clear: none;
    padding-top: 5%;
}

.titleHeading {
    clear: none;
    margin: -10% auto 10%;
    text-align: center;
}

.section {
    margin: auto 0;
}

.sectionWrapper {
    padding: 1%;
    width: 100%;
}

.testkitsButtons {
    padding: 2% !important;
    margin: 1% 2%;
    text-align: center;
    font-size: 1em !important;
    white-space: normal !important;
    width: 28%;
}

.row1 {
    clear: both;
}

.lociButtons {
    padding: 3% !important;
    margin: 1% 2%;
    text-align: center;
    font-size: 1em !important;
    white-space: normal !important;
    width: 15%;
}

#lociWrapper {
    margin-bottom: 20%;
}

.allelesButtons {
    padding: 3% !important;
    margin: 1% 2%;
    text-align: center;
    font-size: 1em !important;
    white-space: normal !important;
    width: 12%;
}

.alleleTablesButtons {
    padding: 4% !important;
    margin: 1% 2%;
    text-align: center;
    font-size: 1em !important;
    white-space: normal !important;
    width: 46%;
}

#sampleCalculationsWrapper {
    text-align: left;
}

#formWrapper {
    padding-bottom: 10%;
}

#runCalculationsButton {
    padding: 2% !important;
    margin: 5% 35%;
    text-align: center;
    font-size: 1em !important;
    white-space: normal !important;
    width: 30%;
}

.sampleForm {
    margin: 0 !important;
    padding: 0 !important;
}

.sampleForm label {
    width: auto !important;
}

.checkbox label, #closeRelativeLabel, #closeRelative, #probabilityType {
    margin-left: 3%;
}

#thetaValue {
    width: 12%;
    text-align: center;
}

@media screen and (max-width:420px) {
    .allelesButtons {
        padding: 3% !important;
        margin: 1% 2%;
        text-align: center;
        font-size: 1em !important;
        white-space: normal !important;
        width: 15%;
    }

    .forwardButton {
        background: url('../images/chevron-right.svg') no-repeat;
        background-size: 50%;
        min-height: 50px;
        vertical-align: middle;
        margin-left: 45%;
    }
}
