<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Statopus</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height">
        <meta name="author" content="authored by Zac Audette, Jon Rose, Cynthia Hudson, and Ibramhim Alnajdi">
        <meta name="description" content="A web app that determines the statistical
                match probability of allels.">
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="screen">
        <link rel="stylesheet" href="../css/index.css" type="text/css" media="screen">
    </head>
<body>
    <div class="container-fluid">
        <div class="row col-xs-12 col-sm-12 col-md-8" id="contents">
            Test Test Test
        </div>
    </div>
    <div class="container-fluid">
        <footer class="row">
                <hr>
                <p>Statopus &copy; 2015</p>
        </footer>
    </div>
    <script type="text/javascript" src="grappelli/jquery/jquery-1.9.1.min.js">
    </script>
    <script type="text/javascript" src="../js/bootstrap.min.js">
    </script>
</body>
</html>
