<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="authored by Zac Audette, Jon Rose, Cynthia Hudson, and Ibramhim Alnajdi">
    <meta name="description" content="A web app that determines the statistical match probability of allels.">

    <title>Statopus</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/statopus.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 id="homeNavButton" class="list-unstyled text-muted">Statopus</h3>
        </div>

        <div id="home" class="jumbotron">
            <h1>Genetic Matching Made Easy</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>
                <button id="homeButton" class="btn btn-lg btn-success" role="button">Get Started</button>
            </p>
        </div>

        <div id="testkits" class="jumbotron section" style="display:none;">
            <div class="navButtonContainer">
                <div id="testkitsBack" class="backDiv"><button class="backButton btn"></button></div>
                <div id="testkitsForward" class="forwardDiv"><button class="forwardButton btn"></button></div>
            </div>
            <div id="testkitsWrapper" class="sectionWrapper">
                <h1 class="titleHeading">
                    Test Kits
                </h1>
                <div id="testKitsContainer" class="row row1">
                    <button id="indetifiler" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">Indetifiler</button>
                    <button id="sgmplus" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">SGM +</button>
                    <button id="ngmselect" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">NGM Select</button>
                    <button id="yfiler" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">YFiler</button>
                    <button id="profilerplus" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">Profiler Plus</button>
                    <button id="profilerpluscofiler" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">Profiler Plus + Cofiler</button>
                    <button id="powerplex16" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">Power Plex 16</button>
                    <button id="powerplex17" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">Power Plex 17</button>
                    <button id="powerplex21" class="col-md-3 btn btn-lg btn-success testkitsButtons" role="button">Power Plex 21</button>
                </div>
            </div>
        </div>

        <div id="lociAlleles" class="jumbotron section" style="display:none;">
            <div class="navButtonContainer">
                <div id="lociAllelesBack" class="backDiv"><button class="backButton btn"></button></div>
                <div id="lociAllelesForward" class="forwardDiv"><button class="forwardButton btn"></button></div>
            </div>
            <div id="lociWrapper" class="sectionWrapper">
                <h1 class="titleHeading">
                    Loci
                </h1>
                <div class="row row1">
                    <button id="loci_d8" class="col-md-3 btn btn-lg btn-primary lociButtons" role="button">D8</button>
                    <button id="loci_d21" class="col-md-3 btn btn-lg btn-primary lociButtons" role="button">D21</button>
                    <button id="loci_7" class="col-md-3 btn btn-lg btn-primary lociButtons" role="button">D7</button>
                    <button id="loci_csf" class="col-md-3 btn btn-lg btn-primary lociButtons" role="button">CSF</button>
                    <button id="loci_d3" class="col-md-3 btn btn-lg btn-success lociButtons" role="button">D3</button>
                    <button id="loci_th01" class="col-md-3 btn btn-lg btn-success lociButtons" role="button">TH01</button>
                    <button id="loci_13" class="col-md-3 btn btn-lg btn-success lociButtons" role="button">D13</button>
                    <button id="loci_d16" class="col-md-3 btn btn-lg btn-success lociButtons" role="button">D16</button>
                    <button id="loci_d2" class="col-md-3 btn btn-lg btn-success lociButtons" role="button">D2</button>
                    <button id="loci_amel" class="col-md-3 btn btn-lg btn-danger lociButtons" role="button">AMEL</button>
                    <button id="loci_d5" class="col-md-3 btn btn-lg btn-danger lociButtons" role="button">D5</button>
                    <button id="loci_fga" class="col-md-3 btn btn-lg btn-danger lociButtons" role="button">FGA</button>
                    <button id="loci_d19" class="col-md-3 btn btn-lg btn-default lociButtons" role="button">D19</button>
                    <button id="loci_vwa" class="col-md-3 btn btn-lg btn-default lociButtons" role="button">VWA</button>
                    <button id="loci_tpox" class="col-md-3 btn btn-lg btn-default lociButtons" role="button">TPOX</button>
                    <button id="loci_d18" class="col-md-3 btn btn-lg btn-default lociButtons" role="button">D18</button>
                </div>
            </div>
            <div id="allelesWrapper" class="sectionWrapper">
                <h1 class="titleHeading">
                    Alleles
                </h1>
                <div class="row row1">
                    <button id="alleles_10" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">10</button>
                    <button id="alleles_10.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">10.2</button>
                    <button id="alleles_11" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">11</button>
                    <button id="alleles_11.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">11.2</button>
                    <button id="alleles_12" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">12</button>
                    <button id="alleles_12.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">12.2</button>
                    <button id="alleles_13" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">13</button>
                    <button id="alleles_13.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">13.2</button>
                    <button id="alleles_14" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">14</button>
                    <button id="alleles_14.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">14.2</button>
                    <button id="alleles_15" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">15</button>
                    <button id="alleles_15.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">15.2</button>
                    <button id="alleles_16" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">16</button>
                    <button id="alleles_16.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">16.2</button>
                    <button id="alleles_17" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">17</button>
                    <button id="alleles_17.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">17.2</button>
                    <button id="alleles_18" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">18</button>
                    <button id="alleles_18.2" class="col-md-3 btn btn-lg btn-success allelesButtons" role="button">18.2</button>
                </div>
            </div>
        </div>

        <div id="alleleTables" class="jumbotron section" style="display:none;">
            <div class="navButtonContainer">
                <div id="alleleTablesBack" class="backDiv"><button class="backButton btn"></button></div>
                <div id="alleleTablesForward" class="forwardDiv"><button class="forwardButton btn"></button></div>
            </div>
            <div id="alleleTablesWrapper" class="sectionWrapper">
                <h1 class="titleHeading">
                    Allele Tables
                </h1>
                <div class="row row1">
                    <button id="nist_Caucasion" class="col-md-3 btn btn-lg btn-success alleleTablesButtons" role="button">NIST Caucasion</button>
                    <button id="nist_AfricanAmerican" class="col-md-3 btn btn-lg btn-success alleleTablesButtons" role="button">NIST African American</button>
                    <button id="nist_Hispanic" class="col-md-3 btn btn-lg btn-success alleleTablesButtons" role="button">NIST Hispanic</button>
                    <button id="nist_Asian" class="col-md-3 btn btn-lg btn-success alleleTablesButtons" role="button">NIST Asian</button>
                </div>
            </div>
        </div>

        <div id="sampleCalculations" class="jumbotron section" style="display:none;">
            <div class="navButtonContainer">
                <div id="sampleCalculationsBack" class="backDiv"><button class="backButton btn"></button></div>
                <div id="sampleCalculationsForward" class="forwardDiv"><button class="forwardButton btn"></button></div>
            </div>
            <div id="sampleCalculationsWrapper" class="sectionWrapper">
                <h1 class="titleHeading">
                    Sample Calculations
                </h1>
                <form id="formWrapper" class="form-horizontal">
                    <div class="sampleForm form-group radio">
                        <label>
                            <input type="radio" name="probabilityRadios" id="randomProb" value="randomProb" checked>
                            Random Match Probability
                        </label>
                        </div>
                    <div class="fsampleForm orm-group radio">
                        <label>
                            <input type="radio" name="probabilityRadios" id="combinedProb" value="combinedProb">
                            Combined Probability of Inclusion
                        </label>
                    </div>
                    <div class="sampleForm form-group">
                        <label for="thetaValue" class="col-sm-2 control-label">Theta Value</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="thetaValue" placeholder="Optional: Enter the theta value for calculations.">
                        </div>
                    </div>
                    <div class="sampleForm form-group">
                        <label for="userName" class="col-sm-2 control-label">User Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userName" placeholder="Optional: Enter the user name for the results table.">
                        </div>
                    </div>
                    <div class="sampleForm form-group">
                        <label for="sampleName" class="col-sm-2 control-label">Sample Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sampleName" placeholder="Optional: Enter the sample name for the results table.">
                        </div>
                    </div>
                    <button id="runCalculationsButton" class="col-md-3 btn btn-lg btn-success" role="button">Run Calculations</button>
                </form>
            </div>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Forensic Bioinformatics 2015</p>
        </footer>
    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/statopus.js"></script>
</body>
</html>
